workflow.json
{"name":"Youtube AI Automation 2026","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 19,23,5 * * *"}]}},"id":"schedule-trigger","name":"Schedule Trigger (3x Daily)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[240,512],"retryOnFail":false},{"parameters":{"options":{}},"id":"set-channel-info","name":"Set Channel Info","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,512],"retryOnFail":false},{"parameters":{"url":"https://www.reddit.com/r/ArtificialInteligence/hot.json?limit=10","options":{"timeout":10000}},"id":"http-reddit-ai","name":"Scrape Reddit - AI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,320],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"continueOnFail":true},{"parameters":{"url":"https://www.reddit.com/r/MachineLearning/hot.json?limit=10","options":{"timeout":10000}},"id":"http-reddit-ml","name":"Scrape Reddit - ML","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,512],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"continueOnFail":true},{"parameters":{"jsCode":"// Parse Reddit JSON API response and filter posts from last 24 hours\nconst items = $input.all();\nconst result = [];\nconst now = Math.floor(Date.now() / 1000);\nconst oneDayAgo = now - 86400; // 24 hours in seconds\n\nfor (const item of items) {\n  try {\n    const data = item.json.data || item.json;\n    \n    // Handle Reddit API response structure\n    if (data.children && Array.isArray(data.children)) {\n      for (const child of data.children) {\n        const post = child.data;\n        if (post) {\n          const createdUtc = post.created_utc || Math.floor(Date.now() / 1000);\n          // Filter: only include posts from last 24 hours\n          if (createdUtc >= oneDayAgo) {\n            result.push({\n              json: {\n                title: post.title || '',\n                selftext: post.selftext || '',\n                url: post.url || '',\n                created_utc: createdUtc,\n                score: post.score || 0,\n                num_comments: post.num_comments || 0,\n                subreddit: post.subreddit || '',\n                author: post.author || '',\n                permalink: `https://www.reddit.com${post.permalink || ''}`,\n                source: 'reddit'\n              }\n            });\n          }\n        }\n      }\n    } else if (Array.isArray(data)) {\n      // Handle array response\n      for (const post of data) {\n        if (post.data) {\n          const postData = post.data;\n          const createdUtc = postData.created_utc || Math.floor(Date.now() / 1000);\n          // Filter: only include posts from last 24 hours\n          if (createdUtc >= oneDayAgo) {\n            result.push({\n              json: {\n                title: postData.title || '',\n                selftext: postData.selftext || '',\n                url: postData.url || '',\n                created_utc: createdUtc,\n                score: postData.score || 0,\n                num_comments: postData.num_comments || 0,\n                subreddit: postData.subreddit || '',\n                author: postData.author || '',\n                permalink: `https://www.reddit.com${postData.permalink || ''}`,\n                source: 'reddit'\n              }\n            });\n          }\n        }\n      }\n    }\n  } catch (error) {\n    // If parsing fails, skip the item\n    continue;\n  }\n}\n\nreturn result;"},"id":"parse-reddit-data","name":"Parse Reddit JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,416],"retryOnFail":false},{"parameters":{"resource":"video","limit":10,"filters":{"publishedAfter":"={{ new Date(Date.now() - 86400000).toISOString() }}","q":"artificial intelligence"},"options":{}},"id":"youtube-trending","name":"YouTube Trending AI","type":"n8n-nodes-base.youTube","typeVersion":1,"position":[688,704],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"youTubeOAuth2Api":{"id":"7lSYRjAB6JM9lnP2","name":"YouTube account"}},"continueOnFail":true},{"parameters":{},"id":"merge-reddit","name":"Merge Reddit Posts","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1120,416],"retryOnFail":false},{"parameters":{"amount":1},"id":"wait-before-news","name":"Wait Before News Scraping","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1344,416],"retryOnFail":false,"webhookId":"85f9e969-63e4-464a-9c8f-bc3b42fe74f1"},{"parameters":{"url":"https://www.artificialintelligence-news.com/","options":{"timeout":15000}},"id":"http-ainews","name":"Scrape AI News","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,416],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"continueOnFail":true},{"parameters":{"url":"={{ `https://hn.algolia.com/api/v1/search_by_date?query=artificial%20intelligence&tags=story&numericFilters=created_at_i>${Math.floor((Date.now() - 86400000) / 1000)}` }}","options":{"timeout":15000}},"id":"http-hackernews","name":"Scrape Hacker News","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,320],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"continueOnFail":true},{"parameters":{"url":"https://news.google.com/rss/search?q=artificial+intelligence&hl=en-US&gl=US&ceid=US:en","options":{}},"id":"rss-googlenews","name":"Google News RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[1568,512],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"continueOnFail":true},{"parameters":{"jsCode":"// Filter RSS feed items from last 24 hours\nconst items = $input.all();\nconst result = [];\nconst oneDayAgo = Date.now() - 86400000; // 24 hours in milliseconds\n\nfor (const item of items) {\n  try {\n    const pubDate = item.json.pubDate || item.json.publishedAt || item.json.date;\n    let itemDate;\n    \n    if (pubDate) {\n      itemDate = new Date(pubDate).getTime();\n      // Only include items from last 24 hours\n      if (itemDate >= oneDayAgo) {\n        result.push(item);\n      }\n    } else {\n      // If no date, include it (assume recent)\n      result.push(item);\n    }\n  } catch (error) {\n    // If date parsing fails, skip the item\n    continue;\n  }\n}\n\nreturn result;"},"id":"filter-rss-24h","name":"Filter RSS Last 24h","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,512],"retryOnFail":false},{"parameters":{"jsCode":"// Filter HTTP scraping results - extract and filter by date if available\nconst items = $input.all();\nconst result = [];\nconst oneDayAgo = Date.now() - 86400000;\n\nfor (const item of items) {\n  try {\n    // Try to extract date from various fields\n    const dateField = item.json.pubDate || item.json.publishedAt || item.json.date || item.json.createdAt || item.json.timestamp;\n    \n    if (dateField) {\n      const itemDate = new Date(dateField).getTime();\n      if (itemDate >= oneDayAgo) {\n        result.push(item);\n      }\n    } else {\n      // If no date field, include it (assume recent for HTML scraping)\n      result.push(item);\n    }\n  } catch (error) {\n    // If date parsing fails, include it\n    result.push(item);\n  }\n}\n\nreturn result;"},"id":"filter-http-24h","name":"Filter HTTP Last 24h","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,320],"retryOnFail":false},{"parameters":{},"id":"merge-news","name":"Merge News Sources","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2016,416],"retryOnFail":false},{"parameters":{"jsCode":"// Error recovery: Check if we have any data, if not, use fallback\nconst items = $input.all();\n\nif (!items || items.length === 0) {\n  // Fallback: Create a default news item if all scraping failed\n  return [{\n    json: {\n      title: 'Latest AI Technology Updates',\n      description: 'Stay updated with the latest developments in artificial intelligence and machine learning.',\n      url: 'https://www.reddit.com/r/ArtificialInteligence',\n      source: 'fallback',\n      created_utc: Math.floor(Date.now() / 1000)\n    }\n  }];\n}\n\nreturn items;"},"id":"error-recovery-check","name":"Error Recovery Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,416],"retryOnFail":false},{"parameters":{"operation":"limit"},"id":"select-top-story","name":"Select Top Story","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[2464,416],"retryOnFail":false},{"parameters":{"options":{"temperature":0.7}},"id":"gemini-content-gen","name":"Generate Content with Gemini","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2688,416],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"credentials":{"googlePalmApi":{"id":"E6S0Ioj6Shsc1Tjj","name":"Google Gemini(PaLM) Api account"}},"continueOnFail":true},{"parameters":{"jsCode":"// Parse Gemini response and create BOTH short and long-form video data\nconst items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  try {\n    const response = item.json.output || item.json.text || item.json.message || item.json.response || '';\n    let content = {};\n    \n    // Try to extract JSON from response\n    const jsonMatch = response.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      try {\n        content = JSON.parse(jsonMatch[0]);\n      } catch (e) {\n        content = null;\n      }\n    }\n    \n    // If no valid JSON, create structure from text or use defaults\n    if (!content || !content.title) {\n      const titleMatch = response.match(/Title:?\\s*([^\\n]+)/i) || response.match(/title:?\\s*([^\\n]+)/i);\n      const descMatch = response.match(/Description:?\\s*([^\\n]+)/i) || response.match(/description:?\\s*([^\\n]+)/i);\n      \n      content = {\n        title: titleMatch ? titleMatch[1].trim() : (item.json.title || 'Latest AI News Update'),\n        description: descMatch ? descMatch[1].trim() : (item.json.description || response.substring(0, 200) || 'Stay updated with the latest AI developments'),\n        shortScript: response.split('Short Script:')[1]?.split('Long Script:')[0]?.trim() || response.substring(0, 800) || 'AI technology is rapidly evolving. Stay tuned for the latest updates.',\n        longScript: response.split('Long Script:')[1]?.split('Image Prompts:')[0]?.trim() || response || 'AI technology continues to advance at an unprecedented pace. In this video, we explore the latest developments in artificial intelligence and machine learning.',\n        imagePrompts: response.split('Image Prompts:')[1]?.split('\\n').filter(p => p.trim()) || ['AI technology concept', 'Futuristic AI interface', 'Neural network visualization']\n      };\n    }\n    \n    // Create SHORT-FORM video data\n    result.push({\n      json: {\n        ...item.json,\n        title: (content.title || item.json.title || 'AI News Update') + ' #Shorts',\n        description: content.description || item.json.description || 'Latest AI developments',\n        shortScript: content.shortScript || 'AI technology is advancing rapidly. Stay tuned for updates.',\n        longScript: content.longScript || 'AI technology continues to evolve',\n        imagePrompts: content.imagePrompts || ['AI technology', 'Machine learning'],\n        videoType: 'shorts',\n        targetDuration: '30-40 seconds',\n        script: content.shortScript || 'AI technology update',\n        error: undefined\n      }\n    });\n    \n    // Create LONG-FORM video data\n    result.push({\n      json: {\n        ...item.json,\n        title: content.title || item.json.title || 'AI News Update',\n        description: content.description || item.json.description || 'Latest AI developments',\n        shortScript: content.shortScript || 'AI technology is advancing rapidly. Stay tuned for updates.',\n        longScript: content.longScript || 'AI technology continues to evolve',\n        imagePrompts: content.imagePrompts || ['AI technology', 'Machine learning'],\n        videoType: 'longform',\n        targetDuration: '15-20 minutes',\n        script: content.longScript || 'AI technology update',\n        error: undefined\n      }\n    });\n  } catch (error) {\n    // Even on error, create both video types with defaults\n    result.push({\n      json: {\n        ...item.json,\n        title: (item.json.title || 'AI News Update') + ' #Shorts',\n        description: item.json.description || 'Latest AI developments',\n        shortScript: 'AI technology is advancing rapidly. Stay tuned for updates.',\n        longScript: 'Artificial intelligence continues to transform industries. In this video, we explore the latest developments.',\n        imagePrompts: ['AI technology', 'Machine learning'],\n        videoType: 'shorts',\n        targetDuration: '30-40 seconds',\n        script: 'AI technology update',\n        error: undefined\n      }\n    });\n    result.push({\n      json: {\n        ...item.json,\n        title: item.json.title || 'AI News Update',\n        description: item.json.description || 'Latest AI developments',\n        shortScript: 'AI technology is advancing rapidly. Stay tuned for updates.',\n        longScript: 'Artificial intelligence continues to transform industries. In this video, we explore the latest developments.',\n        imagePrompts: ['AI technology', 'Machine learning'],\n        videoType: 'longform',\n        targetDuration: '15-20 minutes',\n        script: 'AI technology continues to evolve',\n        error: undefined\n      }\n    });\n  }\n}\n\nreturn result;"},"id":"parse-gemini-response","name":"Parse Gemini Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2912,416],"retryOnFail":false},{"parameters":{"jsCode":"// Filter and prepare data for Shorts video production\nconst items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  // Only process items with videoType 'shorts'\n  if (item.json.videoType === 'shorts' || item.json.videoType === 'short') {\n    result.push({\n      json: {\n        title: item.json.title || 'AI News Shorts',\n        videoType: 'shorts',\n        shortScript: item.json.shortScript || item.json.script || 'AI technology update',\n        longScript: item.json.longScript || '',\n        imagePrompts: item.json.imagePrompts || ['AI technology', 'Machine learning'],\n        description: item.json.description || 'Latest AI developments'\n      }\n    });\n  }\n}\n\nreturn result.length > 0 ? result : [{\n  json: {\n    title: 'AI News Shorts',\n    videoType: 'shorts',\n    shortScript: 'AI technology is rapidly evolving. Stay tuned for updates.',\n    imagePrompts: ['AI technology'],\n    description: 'Latest AI developments'\n  }\n}];"},"id":"prepare-shorts-data","name":"Prepare Shorts Data for Python","type":"n8n-nodes-base.code","typeVersion":2,"position":[3136,272],"retryOnFail":false},{"parameters":{"jsCode":"// Filter and prepare data for Long-form video production\nconst items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  // Only process items with videoType 'longform'\n  if (item.json.videoType === 'longform' || item.json.videoType === 'long') {\n    result.push({\n      json: {\n        title: item.json.title || 'AI News Update',\n        videoType: 'longform',\n        shortScript: item.json.shortScript || '',\n        longScript: item.json.longScript || item.json.script || 'AI technology continues to evolve',\n        imagePrompts: item.json.imagePrompts || ['AI technology', 'Machine learning'],\n        description: item.json.description || 'Latest AI developments'\n      }\n    });\n  }\n}\n\nreturn result.length > 0 ? result : [{\n  json: {\n    title: 'AI News Update',\n    videoType: 'longform',\n    longScript: 'AI technology continues to advance at an unprecedented pace. In this video, we explore the latest developments.',\n    imagePrompts: ['AI technology'],\n    description: 'Latest AI developments'\n  }\n}];"},"id":"prepare-longform-data","name":"Prepare Long-form Data for Python","type":"n8n-nodes-base.code","typeVersion":2,"position":[3136,576],"retryOnFail":false},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const { execSync } = require('child_process');\nconst path = require('path');\nconst fs = require('fs');\nconst os = require('os');\n\nconst inputData = $input.item.json;\nconst projectDir = 'G:\\\\Youtube Automation for 2026';\nconst scriptPath = path.join(projectDir, 'run_video_production.py');\n\nif (!fs.existsSync(scriptPath)) {\n  throw new Error(`Script not found: ${scriptPath}`);\n}\n\ntry {\n  const tempFile = path.join(os.tmpdir(), `video_input_${Date.now()}_${Math.random().toString(36).substr(2, 9)}.json`);\n  fs.writeFileSync(tempFile, JSON.stringify(inputData), 'utf8');\n  \n  try {\n    const stdout = execSync(`python \"${scriptPath}\" \"${tempFile}\"`, {\n      cwd: projectDir,\n      encoding: 'utf8',\n      maxBuffer: 10 * 1024 * 1024,\n      timeout: 600000\n    });\n    \n    if (fs.existsSync(tempFile)) {\n      fs.unlinkSync(tempFile);\n    }\n    \n    return {\n      json: {\n        ...inputData,\n        stdout: stdout.trim(),\n        stderr: ''\n      }\n    };\n  } catch (execError) {\n    if (fs.existsSync(tempFile)) {\n      try {\n        fs.unlinkSync(tempFile);\n      } catch (e) {\n      }\n    }\n    \n    const errorStdout = execError.stdout ? execError.stdout.toString() : '';\n    const errorStderr = execError.stderr ? execError.stderr.toString() : execError.message;\n    \n    return {\n      json: {\n        ...inputData,\n        error: execError.message,\n        stdout: errorStdout.trim(),\n        stderr: errorStderr.trim()\n      }\n    };\n  }\n} catch (error) {\n  return {\n    json: {\n      ...inputData,\n      error: error.message,\n      stdout: '',\n      stderr: error.message\n    }\n  };\n}"},"id":"video-production-shorts","name":"Video Production - Shorts (30-40s)","type":"n8n-nodes-base.code","typeVersion":2,"position":[3360,272],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"continueOnFail":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const { execSync } = require('child_process');\nconst path = require('path');\nconst fs = require('fs');\nconst os = require('os');\n\nconst inputData = $input.item.json;\nconst projectDir = 'G:\\\\Youtube Automation for 2026';\nconst scriptPath = path.join(projectDir, 'run_video_production.py');\n\nif (!fs.existsSync(scriptPath)) {\n  throw new Error(`Script not found: ${scriptPath}`);\n}\n\ntry {\n  const tempFile = path.join(os.tmpdir(), `video_input_${Date.now()}_${Math.random().toString(36).substr(2, 9)}.json`);\n  fs.writeFileSync(tempFile, JSON.stringify(inputData), 'utf8');\n  \n  try {\n    const stdout = execSync(`python \"${scriptPath}\" \"${tempFile}\"`, {\n      cwd: projectDir,\n      encoding: 'utf8',\n      maxBuffer: 10 * 1024 * 1024,\n      timeout: 600000\n    });\n    \n    if (fs.existsSync(tempFile)) {\n      fs.unlinkSync(tempFile);\n    }\n    \n    return {\n      json: {\n        ...inputData,\n        stdout: stdout.trim(),\n        stderr: ''\n      }\n    };\n  } catch (execError) {\n    if (fs.existsSync(tempFile)) {\n      try {\n        fs.unlinkSync(tempFile);\n      } catch (e) {\n      }\n    }\n    \n    const errorStdout = execError.stdout ? execError.stdout.toString() : '';\n    const errorStderr = execError.stderr ? execError.stderr.toString() : execError.message;\n    \n    return {\n      json: {\n        ...inputData,\n        error: execError.message,\n        stdout: errorStdout.trim(),\n        stderr: errorStderr.trim()\n      }\n    };\n  }\n} catch (error) {\n  return {\n    json: {\n      ...inputData,\n      error: error.message,\n      stdout: '',\n      stderr: error.message\n    }\n  };\n}"},"id":"video-production-longform","name":"Video Production - Long-form (15-20min)","type":"n8n-nodes-base.code","typeVersion":2,"position":[3360,576],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"continueOnFail":true},{"parameters":{"jsCode":"// Parse Python script output and extract video file path, convert to absolute path\nconst path = require('path');\nconst items = $input.all();\nconst result = [];\nconst projectDir = 'G:\\\\Youtube Automation for 2026';\n\nfor (const item of items) {\n  try {\n    const output = item.json.stdout || item.json.output || '';\n    let productionResult = {};\n    \n    // Try to parse JSON from output\n    try {\n      productionResult = JSON.parse(output.trim());\n    } catch (e) {\n      // If not JSON, try to extract file path from text\n      const pathMatch = output.match(/videos\\/[^\\s\"]+\\.mp4/);\n      if (pathMatch) {\n        productionResult = {\n          status: 'success',\n          videoFilePath: pathMatch[0]\n        };\n      } else {\n        throw new Error('Could not parse production result');\n      }\n    }\n    \n    if (productionResult.status === 'success' && productionResult.videoFilePath) {\n      // Convert relative path to absolute path\n      let videoPath = productionResult.videoFilePath;\n      if (!path.isAbsolute(videoPath)) {\n        // If relative path, make it absolute\n        videoPath = path.join(projectDir, videoPath.replace(/^\\.\\//, ''));\n      }\n      // Normalize path separators for Windows\n      videoPath = videoPath.replace(/\\//g, '\\\\');\n      \n      result.push({\n        json: {\n          ...item.json,\n          videoFilePath: videoPath,\n          title: productionResult.title || item.json.title || 'AI News Shorts',\n          description: item.json.description || 'Latest AI developments',\n          script: item.json.shortScript || item.json.script || ''\n        }\n      });\n    } else {\n      throw new Error(productionResult.error || 'Video production failed');\n    }\n  } catch (error) {\n    result.push({\n      json: {\n        ...item.json,\n        videoFilePath: null,\n        error: error.message\n      }\n    });\n  }\n}\n\nreturn result;"},"id":"parse-production-result-shorts","name":"Parse Production Result - Shorts","type":"n8n-nodes-base.code","typeVersion":2,"position":[3584,272],"retryOnFail":false,"continueOnFail":true},{"parameters":{"jsCode":"// Parse Python script output and extract video file path, convert to absolute path\nconst path = require('path');\nconst items = $input.all();\nconst result = [];\nconst projectDir = 'G:\\\\Youtube Automation for 2026';\n\nfor (const item of items) {\n  try {\n    const output = item.json.stdout || item.json.output || '';\n    let productionResult = {};\n    \n    // Try to parse JSON from output\n    try {\n      productionResult = JSON.parse(output.trim());\n    } catch (e) {\n      // If not JSON, try to extract file path from text\n      const pathMatch = output.match(/videos\\/[^\\s\"]+\\.mp4/);\n      if (pathMatch) {\n        productionResult = {\n          status: 'success',\n          videoFilePath: pathMatch[0]\n        };\n      } else {\n        throw new Error('Could not parse production result');\n      }\n    }\n    \n    if (productionResult.status === 'success' && productionResult.videoFilePath) {\n      // Convert relative path to absolute path\n      let videoPath = productionResult.videoFilePath;\n      if (!path.isAbsolute(videoPath)) {\n        // If relative path, make it absolute\n        videoPath = path.join(projectDir, videoPath.replace(/^\\.\\//, ''));\n      }\n      // Normalize path separators for Windows\n      videoPath = videoPath.replace(/\\//g, '\\\\');\n      \n      result.push({\n        json: {\n          ...item.json,\n          videoFilePath: videoPath,\n          title: productionResult.title || item.json.title || 'AI News Update',\n          description: item.json.description || 'Latest AI developments',\n          script: item.json.longScript || item.json.script || ''\n        }\n      });\n    } else {\n      throw new Error(productionResult.error || 'Video production failed');\n    }\n  } catch (error) {\n    result.push({\n      json: {\n        ...item.json,\n        videoFilePath: null,\n        error: error.message\n      }\n    });\n  }\n}\n\nreturn result;"},"id":"parse-production-result-longform","name":"Parse Production Result - Long-form","type":"n8n-nodes-base.code","typeVersion":2,"position":[3584,576],"retryOnFail":false,"continueOnFail":true},{"parameters":{"filePath":"{{ $json.videoFilePath }}"},"id":"read-video-file-shorts","name":"Read Video File - Shorts","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[3808,272],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"continueOnFail":true},{"parameters":{"filePath":"{{ $json.videoFilePath }}"},"id":"read-video-file-longform","name":"Read Video File - Long-form","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[3808,576],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"continueOnFail":true},{"parameters":{"resource":"video","operation":"upload","title":"={{ $json.title }}","regionCode":"US","categoryId":"28","options":{"description":"={{ $json.description || $json.script }}","privacyStatus":"public","tags":"AI,Artificial Intelligence,Technology,Shorts,The AI Ledger"}},"id":"youtube-upload-shorts","name":"Upload Shorts to YouTube","type":"n8n-nodes-base.youTube","typeVersion":1,"position":[4032,272],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"credentials":{"youTubeOAuth2Api":{"id":"7lSYRjAB6JM9lnP2","name":"YouTube account"}},"continueOnFail":true},{"parameters":{"resource":"video","operation":"upload","title":"={{ $json.title }}","categoryId":"28","options":{"description":"={{ $json.description || $json.script }}","privacyStatus":"public","tags":"AI,Artificial Intelligence,Technology,The AI Ledger"}},"id":"youtube-upload-longform","name":"Upload Long-form to YouTube","type":"n8n-nodes-base.youTube","typeVersion":1,"position":[4032,576],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"credentials":{"youTubeOAuth2Api":{"id":"7lSYRjAB6JM9lnP2","name":"YouTube account"}},"continueOnFail":true}],"pinData":{},"connections":{"Schedule Trigger (3x Daily)":{"main":[[{"node":"Set Channel Info","type":"main","index":0}]]},"Set Channel Info":{"main":[[{"node":"Scrape Reddit - AI","type":"main","index":0},{"node":"Scrape Reddit - ML","type":"main","index":0},{"node":"YouTube Trending AI","type":"main","index":0}]]},"Scrape Reddit - AI":{"main":[[{"node":"Parse Reddit JSON","type":"main","index":0}]]},"Scrape Reddit - ML":{"main":[[{"node":"Parse Reddit JSON","type":"main","index":0}]]},"Parse Reddit JSON":{"main":[[{"node":"Merge Reddit Posts","type":"main","index":0}]]},"YouTube Trending AI":{"main":[[{"node":"Merge Reddit Posts","type":"main","index":0}]]},"Merge Reddit Posts":{"main":[[{"node":"Wait Before News Scraping","type":"main","index":0}]]},"Wait Before News Scraping":{"main":[[{"node":"Scrape AI News","type":"main","index":0},{"node":"Scrape Hacker News","type":"main","index":0},{"node":"Google News RSS","type":"main","index":0}]]},"Scrape AI News":{"main":[[{"node":"Filter HTTP Last 24h","type":"main","index":0}]]},"Scrape Hacker News":{"main":[[{"node":"Filter HTTP Last 24h","type":"main","index":0}]]},"Google News RSS":{"main":[[{"node":"Filter RSS Last 24h","type":"main","index":0}]]},"Filter HTTP Last 24h":{"main":[[{"node":"Merge News Sources","type":"main","index":0}]]},"Filter RSS Last 24h":{"main":[[{"node":"Merge News Sources","type":"main","index":0}]]},"Merge News Sources":{"main":[[{"node":"Error Recovery Check","type":"main","index":0}]]},"Error Recovery Check":{"main":[[{"node":"Select Top Story","type":"main","index":0}]]},"Select Top Story":{"main":[[{"node":"Generate Content with Gemini","type":"main","index":0}]]},"Generate Content with Gemini":{"main":[[{"node":"Parse Gemini Response","type":"main","index":0}]]},"Parse Gemini Response":{"main":[[{"node":"Prepare Shorts Data for Python","type":"main","index":0},{"node":"Prepare Long-form Data for Python","type":"main","index":0}]]},"Prepare Shorts Data for Python":{"main":[[{"node":"Video Production - Shorts (30-40s)","type":"main","index":0}]]},"Prepare Long-form Data for Python":{"main":[[{"node":"Video Production - Long-form (15-20min)","type":"main","index":0}]]},"Video Production - Shorts (30-40s)":{"main":[[{"node":"Parse Production Result - Shorts","type":"main","index":0}]]},"Video Production - Long-form (15-20min)":{"main":[[{"node":"Parse Production Result - Long-form","type":"main","index":0}]]},"Parse Production Result - Shorts":{"main":[[{"node":"Read Video File - Shorts","type":"main","index":0}]]},"Parse Production Result - Long-form":{"main":[[{"node":"Read Video File - Long-form","type":"main","index":0}]]},"Read Video File - Shorts":{"main":[[{"node":"Upload Shorts to YouTube","type":"main","index":0}]]},"Read Video File - Long-form":{"main":[[{"node":"Upload Long-form to YouTube","type":"main","index":0}]]}},"active":true,"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"versionId":"05fc9b20-1cf8-4b64-8b4b-8aa387743ff5","meta":{"templateCredsSetupCompleted":true,"instanceId":"c06f4ebfef93d35e92f49d20db1c5af5a2984bfa5dd9aa6a063fb2238b12341d"},"id":"wqQWoDqXHaEHJ0dU","tags":[]}